body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align:center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
}

table{
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}



#maketableBtn {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
}